.TreeNode {
  box-sizing: border-box;
}

.TreeNode .title {
  margin-bottom: 15px;
  position: relative;
  font-weight: 300;
}

.TreeNode .title-children {
  display: inline-block;
  margin-left: 20px;
}

.Tree .parentIndex-0 {
  margin-top: 25px;
}

.Tree .parentIndex-0>.title {
  cursor: pointer;
  font-weight: bolder;
}

.Tree .parentIndex-0>.children {
  margin-top: 25px;
}